/* Reader Start */
@media screen and (max-width: 411px) {
    header,section,footer {
        padding: 0px 15px;
    }
    .header {
        display: flex;
        align-items: unset;
        padding: 20px;
    }
    .header .logo {
        height: 36px;
    }
    .header .sig-in {
        display: none;
    }
    .header .bars:hover {
        box-shadow: 0px 0px 5px 5px rgb(87, 87, 87);
    }
    .header .bars-main .bar {
        width: 25px;
        height: 3px;
        background-color: #fff;
        margin: 5px 0px;
    }
    .header .nav{
        display: none;
    }
    .header .navbar-nav {
        display: flex;
        flex-direction: column;
        margin-top: 50px;
    }
    .top-banner {
        margin-bottom: 100px;
    }
    .top-banner .banner-content h1 {
        font-size: 40px;
    }
    .bars-main{
        cursor: pointer;
    }
    .header .navbar-nav {
        margin-left: -157px;
    }
    .want-to-create-card {
        display: flex;
        flex-direction: column;
    }
    .want-to-create .want-to-create-content h1 {
        width: 100%;
    }
    .want-to-create-card-content h4 {
        width: 100%;
    }
    .want-to-create-card .collection-work {
        width: 100%;
    }
    .want-to-create-card .welcome-page {
        width: 100%;
    }
    .welcome-page-content h4 {
        width: 100%;
    }
    .want-to-create {
        padding: 0;
    }
    .what-possible-content h1 {
        font-size: 45px;
    }
    .what-possible-content h4 {
        width: 100%;
    }
    .what-possible-btn {
        display: flex;
        flex-direction: column;
        width: 50%;
    }
    .view-more-examples {
        display: none;
    }
    .showcase .showcase-box {
        display: flex;
        flex-direction: column;
    }
    .showcase {
        padding-bottom: 100px;
    }
    .free-creative-cloud-content h4 {
        width: 100%;
    }
    footer .using-portfolio {
        display: grid;
        grid-template-columns: 1fr;
    }
    ol, ul {
        padding-left: 0px!important;
    }
    .want-to-create .want-to-create-content h4 {
        width: 100%;
    }
    .carousel-box {
        display: grid;
        grid-template-columns: 1fr;
    }
    .what-possible {
        padding-bottom: 0px;
    }
    .showcase .showcase-content h4 {
        width: 100%;
    }
    footer {
        padding: 4% 5%;
    }
    footer .c {
        position: absolute;
        right: 3%;
        margin-top: 65px;
    }
    footer .d {
        margin-top: 50px;
    }
    footer .e {
        position: absolute;
        right: 35%;
        margin-top: 78%;
    }
}
/* Reader End */